#wrapper {
    width: 20rem !important; 
    height: 60px !important;
    border: 2px solid rgb(255, 255, 255) !important;
    display: flex !important;
    align-items: center !important;
    justify-content: center !important;
    color: rgb(255,255,255) !important;
  }
  
  #butn {
    height: 100px;
    width: 400px;
   
  }
  

  .outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
  }
  
  .middle {
    display: table-cell;
    vertical-align: middle;
  }
  
  .inner {
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    /*whatever width you want*/
  }

  #sched{
    background-image: url();
  }

  @media (max-width: 600px){
    .inner{margin-top: 50%;}
  }

  @media (min-width: 700px) and (max-width: 1180px){
    .inner{margin-top: 30%;}
  }

  @media (min-width: 1181px) and (max-width: 1440px){
    .inner{margin-top: 20%;}
  }