
@import url('https://fonts.googleapis.com/css?family=Markazi+Text|Raleway');

body {
    background:#000000/*rgba(240, 235, 215, .5)*/;
    font-family: 'Raleway', sans-serif;
  }
  .container {
    text-align: center;
  }
  .container div {
    background-color: black;
    background-size: 100%;
    background-repeat: no-repeat;
    display: inline-block;
    height: 300px;
    width: 200px;
    overflow: hidden;
    border-radius: 7px;
    margin: 35px 20px;
    transition: 0.7s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
    box-shadow: 0 50px 150px -20px rgba(0, 0, 0, .75);
    border: white 1px solid;
  }
  .logoa{
    width: 100%;/*height: 4rem;*/ background-color: white;  left:0; top:0; position: fixed;
    z-index: 10;
  }

  body h1{

   font-family: 'Markazi Text', serif;
   color: #030f33;
  }

 


  body p{
    text-align: center;
    font-family: 'Raleway', sans-serif;
    font-size: 1.5rem;   
    
  }
   @media (max-width: 600px) {
    /* mobile*/
  h1{
    font-size:2rem;
  }
  .logoa{
    height:7.5rem;
    text-align: center;
  }
    body p{
 margin-top: 7em;
 font-size: 1.3rem;
}
  }
  @media (min-width: 1000px) {
  /* desktop*/
  h1{
     text-align: center;
   font-size: 4rem;
 }
   .logoa{
    height:10rem;
    text-align: center;
  }
  body p{
 margin-top: 7.7em;
}
}
  .container #decor{
    background-image: url(https://i.pinimg.com/originals/d4/ed/b2/d4edb2f21491d0735e69da82ed63dd3f.jpg);
  }

  .container #hospi{
    background-image: url(https://www.ahaworldcampus.com/images/advanced-hospitality-leadership-page.jpg);
    background-size: 120%;
  }

  .container #pub{
    background-image: url(https://images.unsplash.com/photo-1533094700036-70ecccc6f047?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=33a3a14bdbd4d8badf01cc72e1ad2cd0&auto=format&fit=crop&w=1950&q=80);
    background-size: 225%;
    background-position-x: -9rem;
    background-position-y: 0rem;
  }

  .container #spons{
    background-image: url(https://www.americanbar.org/content/dam/aba/images/taxation/sponsorship-spif.jpg);
    background-size: 260%;
    background-position-x: -7rem;
    background-position-y: 0rem;
  }

  .container #design{
    background-image: url(https://images.unsplash.com/photo-1509343256512-d77a5cb3791b?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=452c9055d0f7d7db744fb505f6d7fd68&auto=format&fit=crop&w=1950&q=80);
    background-size: 250%;
  }

  .container #informals{
    background-image: url(http://fiber.westnet.ca:81/cbcarticles/images/1.3949781.1485273913!/fileImage/httpImage/image.jpg_gen/derivatives/16x9_780/beat-the-blues.jpg);
    background-size: 270%;
  }

  .container #qms{
    background-image: url(https://udemy-images.udemy.com/course/240x135/1049210_96f1_2.jpg);
    background-size: 280%;
    background-position-y: 0rem;
    background-position-x: -8rem;
  }

  .container #webops{
    background-image: url(https://cdn-images-1.medium.com/max/1600/0*R8xAqSnJV8FQqpZd.png);
    background-size: 350%; 
    background-position-x: -1.5rem;
    
  }

  .container #coords{
    background-image: url(https://images.unsplash.com/photo-1531206715517-5c0ba140b2b8?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=044e5d85cd16e79671287971a06be066&auto=format&fit=crop&w=1950&q=80);
    background-position-y: 0rem;
    background-size: 250%;
    background-position-x: -9rem;
  }

  .container div img {
    position: relative;
    width: 150%;
    margin: -25% -25%;
    min-height: 100%;
    transition: 0.7s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .container div h1{
      color: antiquewhite;
      font-size: 2rem;
  }
  
  
  .container div span {
    
    top: 10px;
    left: 20px;
    font-family: 'Raleway', sans-serif;
    color: rgba(255, 255, 255, 0);
    font-size: 1rem;
    transition: 0.8s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }

  .container div span ul{
    text-align: left;
  }
  .container div:before {
    content: '';
    position: absolute;
    background: rgba(255, 255, 255, .1);
    width: 50px;
    height: 400px;
    transform: rotate(30deg);
    top: -40px;
    left: -200px;
    transition: 1s all cubic-bezier(0.785, 0.135, 0.15, 0.86);
  }
  .container #decor:hover, #hospi:hover, #pub:hover, #spons:hover, #design:hover, #informals:hover, #qms:hover, #webops:hover, #coords:hover{
    cursor: pointer;
    transform: scale(1.2);
    border-radius: 10px;
    box-shadow: 0 20px 300px -20px rgba(255, 255, 255,0.5);
    color: black;
    background: rgba(255,255,255,0.4);
  }
  .container div:hover:before {
    content: '';
    left: 350px;
  }
  .container div:hover img {
    width: 100%;
    margin: 0;
    min-height: 100%;
  }
  .container div:hover span {
    color: black;
    bottom: 20px;
  }
  
  .container div:hover h1 {
    color: black;
    
  }

  .back{text-decoration: none;position:fixed; bottom: 0; right: 0;width: 100%;text-align: right;overflow-x: hidden;font-family: 'Raleway', sans-serif;font-size: 1.5rem;color:white;}

a:hover {
  text-decoration: underline;
}

a:active{
    text-decoration: underline;
    color:#85a0f2;
  }